<!-- INICIO CODIGO - BARRA DEGRADE --> 
<div class="container-fluid color-line" style="
margin: 0px 0px 0px; display: block!important;
background: linear-gradient(to right, 
  
/* Inicio alteração da Cor do Degrade */
rgba(30,45,125,1) 1%, rgba(0,123,255,1) 36%, rgba(0,105,255,1) 79%, rgba(0,78,255,1) 97%)
/* Fim alteração da Cor do Degrade */
  
;
height: 3px;
width: 100%;
background-image: linear-gradient(to right, 
  
/* Inicio alteração da Cor do Degrade */
rgba(30,45,125,1) 1%, rgba(0,123,255,1) 36%, rgba(0,105,255,1) 79%, rgba(0,78,255,1) 97%)
/* Fim alteração da Cor do Degrade */

;
"></div>
<!-- FIM CODIGO - BARRA DEGRADE --> 
