<div class="container-fluid color-line"></div>
<style>
margin: 0px 0px 0px; display: block!important;
background: linear-gradient(to right, 
  
/* Inicio alteração da Cor do Degrade */
rgba(53,148,0,1) 0%, rgba(246,193,37,1) 11%, rgba(0,123,255,1) 49%, rgba(0,78,255,1)
/* Fim alteração da Cor do Degrade */
  
  );
height: 1px;
width: 100%;
background-image: linear-gradient(to right, 
  
/* Inicio alteração da Cor do Degrade */
rgba(53,148,0,1) 0%, rgba(246,193,37,1) 11%, rgba(0,123,255,1) 49%, rgba(0,78,255,1)
/* Fim alteração da Cor do Degrade */

);
</style>