<!-- INICIO CODIGO - BARRA DEGRADE --> 
<div class="container-fluid color-line" style="
margin: 0px 0px 0px; display: block!important;
background: #ccc;
height: 1px;
width: 100%;
background: #ccc;
"></div>
<!-- FIM CODIGO - BARRA DEGRADE --> 
