<!-- INICIO CODIGO - BARRA DEGRADE --> 
<div class="container-fluid color-line" style="
margin: 0px 0px 0px; display: block!important;
background: linear-gradient(to right, 
  
/* Inicio alteração da Cor do Degrade */
rgb(255, 255, 74), rgb(252, 208, 0), rgb(255, 193, 18), rgb(255, 193, 18), rgb(255, 138, 0), rgb(255, 95, 95), rgb(255, 37, 58), rgb(255, 55, 168), rgb(199, 57, 255), rgb(164, 0, 225), rgb(46, 206, 255), rgb(0, 134, 255), rgb(114, 247, 114), rgb(0, 214, 4)
/* Fim alteração da Cor do Degrade */
  
  );
height: 5px;
width: 100%;
background-image: linear-gradient(to right, 
  
/* Inicio alteração da Cor do Degrade */
rgb(255, 255, 74), rgb(252, 208, 0), rgb(255, 193, 18), rgb(255, 193, 18), rgb(255, 138, 0), rgb(255, 95, 95), rgb(255, 37, 58), rgb(255, 55, 168), rgb(199, 57, 255), rgb(164, 0, 225), rgb(46, 206, 255), rgb(0, 134, 255), rgb(114, 247, 114), rgb(0, 214, 4)
/* Fim alteração da Cor do Degrade */

);
"></div>
<!-- FIM CODIGO - BARRA DEGRADE --> 
