<div class="header__action-item header__action-item--cart">
            <a class="header__action-item-link header__cart-toggle" href="/cart" data-no-instant="">
              <div class="header__action-item-content">
                <div class="header__cart-icon icon-state">
                  <span class="icons-align-header-cart icon-state__primary">
                    <span class="ionic-icon-header"><ion-icon name="bag-handle" role="img" class="md hydrated" aria-label="bag handle"></ion-icon></span> 
                    <span class="header__cart-count">0</span>
                  </span>

                  <span class="icon-state__secondary"><svg class="icon icon--close" viewBox="0 0 19 19" role="presentation">
      <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd"></path>
    </svg></span>
                </div>

                <span class="hidden-pocket hidden-lap secttions-header-title">Carrinho</span>
              </div>
            </a></div>