<div id="shopify-section-ae3662bf-ef9f-4446-9aea-8bb06a5f226f" class="shopify-section"><section class="section section--text-centered" data-section-id="ae3662bf-ef9f-4446-9aea-8bb06a5f226f" data-section-type="newsletter">
  <div class="container container--extra-narrow"><h2 class="heading h3">Newsletter</h2><div class="rte">
        <p>A short sentence describing what someone will receive by subscribing</p>
      </div><div class="newsletter newsletter--compact"><form method="post" action="/contact#newsletter-ae3662bf-ef9f-4446-9aea-8bb06a5f226f" id="newsletter-ae3662bf-ef9f-4446-9aea-8bb06a5f226f" accept-charset="UTF-8" class="form newsletter__form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="contact[tags]" value="newsletter">

          <div class="form__input-row">
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="email" id="newsletter[ae3662bf-ef9f-4446-9aea-8bb06a5f226f][contact][email]" name="contact[email]" class="form__field form__field--text" required="">
              <label for="newsletter[ae3662bf-ef9f-4446-9aea-8bb06a5f226f][contact][email]" class="form__floating-label">Tu email</label>
            </div>

            <button type="submit" class="form__submit button button--primary">Suscribirse</button>
          </div></form></div>
  </div>
</section>

<div style="clear:both"></div></div>