<div id="shopify-section-static-newsletter" class="shopify-section shopify-section--isolated">
            <section class="section section--isolated section--tight section--text-centered" data-section-id="static-newsletter" data-section-type="newsletter">
              <div class="container container--giga-narrow">
                <h2 class="heading h3">Boletín informativo.</h2>
                  <div class="rte">
          <p>
Suscríbete y recibe un código de descuento del 5% en el total de tu pedido, además, mantente al tanto de promociones y novedades exclusivas de La Tienda Mix.</p>
        </div><div class="newsletter"><form method="post" action="/contact#newsletter-static-newsletter" id="newsletter-static-newsletter" accept-charset="UTF-8" class="form newsletter__form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="contact[tags]" value="newsletter">

            <div class="form__input-row">
              <div class="form__input-wrapper form__input-wrapper--labelled">
                <input type="email" id="newsletter[contact][email]" name="contact[email]" class="form__field form__field--text form__field--borderless" required="">
                <label for="newsletter[contact][email]" class="form__floating-label">Tu email</label>
              </div>

              <button type="submit" class="form__submit button button--new">Suscribirse</button>
            </div></form><p class="newsletter__text">100% grátis, cancele su inscripción en cualquier momento.</p></div>
    </div>
  </section>

  <style>
    #shopify-section-static-newsletter {
      background: #1e2d7d;
      color: #ffffff;
    }
  </style></div>